.-anki-add-hook {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  background-color: #aaaaaa;
  border-radius: 5px;
  border: 2px solid #222222;
  box-sizing: content-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  line-height: 17px;
  opacity: 0.8;
  overflow-wrap: normal;
  overflow: hidden;
  padding-left: 30px;
  padding-right: 5px;
  position: relative;
  right: 0px;
  text-align: left;
  text-indent: 0;
  top: 0px;
  user-select: none;
  vertical-align: middle;
  width: 35px;
  z-index: 1000;
}
.-anki-add-hook-added {
  border: 2px solid green;
  opacity: 1;
  cursor: auto;
  color: green;
  background-color: #cccccc;
}
.-anki-add-hook:hover {
  opacity: 1 !important;
}

.-anki-add-hook-star {
  display: block;
  transform: rotate(-15deg);
  position: absolute;
}
.-anki-add-hook-added .-anki-add-hook-star-small {
  color: green;
}
.-anki-add-hook-star-big {
  font-size: 40px;
  color: white;
  z-index: 1005;
  left: -7px;
  top: -1px;
}
.-anki-add-hook-star-small {
  font-size: 25px;
  color: #0099ff;
  color: grdsdsdqwdfedwdsdwesdddsdwdn;
  z-index: 1010;
  left: 0px;
  top: -1px;
}

.-anki-add-hook-text {
  text-decoration: none !important;
  font-size: 12px !important;
}


.-anki-add-hook-loading .-anki-add-hook-star {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.-anki-add-hook-error {
  border: 2px solid red;
  opacity: 1;
  color: red;
  background-color: #cccccc;
}
.-anki-add-hook-error .-anki-add-hook-star-small {
  color: red;
}
